/* Add application styles & imports to this file! */

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

formly-show-password {
  display: none;
}

formly-form formly-show-password {
  display: block;
}
